##### Import Modules

In [15]:
import pandas as pd
import numpy as np
import requests
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
#from sklearn.calibration import CalibratedClassifierCV
from sklearn.svm import LinearSVC
#from sklearn.ensemble import *
#from sklearn.tree import DecisionTreeClassifier

This problem uses continuous data, which is the 'price' of the diamond, and consists of a range of infinite values.

The objective is to generate predictions with a low Mean Squared Error.

##### Load Datasets

In [16]:
data_train = pd.read_csv('../INPUT/diamonds_train.csv')
data_train.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,x,y,z,price
0,0,1.21,Ideal,H,VS2,63.0,57.0,6.73,6.70,4.23,6134
1,1,0.28,Very Good,D,VVS2,64.0,56.0,4.14,4.17,2.66,532
2,2,0.42,Premium,F,VS1,61.2,58.0,4.86,4.82,2.96,1103
3,3,0.26,Ideal,H,IF,61.1,57.0,4.16,4.12,2.53,600
4,4,1.10,Good,G,SI1,63.4,57.0,6.52,6.55,4.14,4997

# Normalize Data

In [ ]:
data_train

# Standardize with `Mean = 0` and   `Standard Deviation = 1`

# Predict using the LABELED data `X = data_train`

In [ ]:
# train_test_split

# Predict using the UNLABELED data `X = data_test`

In [17]:
data_test = pd.read_csv('../INPUT/diamonds_test.csv')
data_test.head()

   Unnamed: 0  carat        cut color clarity  depth  table     x     y     z
0           0   0.30      Ideal     H     SI2   60.0   56.0  4.41  4.43  2.65
1           1   0.34      Ideal     D      IF   62.1   57.0  4.52  4.46  2.79
2           2   1.57  Very Good     I     VS2   60.3   58.0  7.58  7.55  4.56
3           3   0.31      Ideal     H     VS2   61.8   57.0  4.32  4.36  2.68
4           4   1.51       Good     I    VVS1   64.0   60.0  7.26  7.21  4.63